__pycache__
**/__pycache__
*.py[cod]
pip-log.txt
pip-delete-this-directory.txt

# Cannot include .pkl of datasets since they are too large
*.pkl

# Checkpoints add lots of unnecessary files since we retrain
# with best hyperparameters anyways
**/checkpoints


